{% extends 'base.html' %}

{% block header %}
  Creature table
{% endblock %}

{% block content %}

<table>
  {% for row in collection %}
  <tr>
    <td>
      {{row['CreatureName']}}
    </td>
    <td>
      {{row['HP']}}
    </td>
    <td>
      {{row['MeleeDmg']}}
    </td>
    <td>
      {{row['RangeDmg']}}
    </td>
    <td>
      {{row['AC']}}
    </td>
    <td>
      {{row['SizeType']}}
    </td>
    <td>
      {{row['PrimaryType']}}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}